.search {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

.search__form {
    display: flex;
    margin: 0 0 29px 70px;
    position: relative;
}

.search__input {
    padding: 15px 10px 15px 20px;
    border: none;
    width: 100%;
    background-color: #2F2F2F;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    border-radius: 8px;
}

.search__line {
    margin: 40px 70px 10px 70px;
    border-bottom: 1px solid #424242;
}

.search__input:focus {
    outline: none;
    border-bottom: 1px solid #777;
    box-shadow: 0 0 0px 1000px #ded9d9 inset;
  }

.search__input::placeholder {
    text-align: left;
    color: #8B8B8B;
  }

.search__button {
    margin: 0 70px 0 10px;
    /* bottom: 2px;
    left: 1px; */
    width: 51.95px;
    height: 44px;
    background-color: #4285F4;
    border: none;
    border-radius: 15%;
    background-image: url('../../../images/button__line-svg.svg'), url('../../../images/button__arrow-svg.svg');
    background-repeat: no-repeat, no-repeat;
    /* background-size: 10px, 10px; */
    /* background-color: transparent; */
    background-position: 15% 50%, center;
    /* position: absolute; */
    cursor: pointer;
    transition: 0.3s;
}

.search__button:hover {
    opacity: 0.7;
}


.search__box {
    display: flex;
    align-items: center;
    margin: 0;
    align-self: center;
}

.search__checkbox {
    display: none;
}

.search__checkbox-element {
    margin: 0;
    position: relative;
    width: 36px;
    height: 20px;
    background-color: #EBEBEB;
    border: none;
    border-radius: 20px;
    display: block;
    transition: background-color 0.2s linear;
}

.search__checkbox:checked + .search__checkbox-element {
    background-color: #3DDC84;
}

.search__checkbox-element::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    background-color: #A0A0A0;
    transition: all 0.2s linear;
}

.search__checkbox:checked + .search__checkbox-element::after {
    left: 22px;
    background-color: white;
}

.search__checkbox-title {
    display: block;
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding-left: 12px;
}

.search__checkbox-line {
    content: "";
    display: block;
    margin: 0 0 20px;
    padding: 0;
    height: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #424242
}

@media screen and (max-width: 768px) {
    .search {
        padding-top: 70px;
    }
    .search__input {
        margin-right: 85px;
        padding: 15px 40px 15px 20px;
    }
    .search__form {
        margin-left: 29px;
    }

    .search__button {
        position: absolute;
        right: -40px;
        bottom: 2px;
        width: 44px;
    }
    .search__box {
        margin-top: 15px;
    }
    .search__checkbox-element {
        width: 34px;
        height: 14px;
    }
}



@media screen and (max-width: 550px) {
    .search__input {
        padding: 15px 40px 15px 13px;
    }
    .search__form {
        margin-left: 14px;
    }
    .search__button {
        right: -55px
    }
}

@media screen and (max-width: 320px) {
    .search__input {
        margin-right: 68px;
    }
}