.about-me {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 40px 0;
    display: flex;
    flex-direction: column;
}

.about-me__title {
    margin: 110px auto 66px;
}

.about-me__container {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 110px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about-me__info {
    margin: 0 66px auto 0;
    display: flex;
    flex-direction: column;
}

.about-me__name {
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
    letter-spacing: -0.04em;
    margin: 0 auto 18px 0;
}

.about-me__about {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    margin: 0 auto 26px 0;
}

.about-me__description {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin: 0 auto 99px 0;
    max-width: 600px;
}

.about-me__link {
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
    margin: 0;
}

.about-me__photo {
    width: 270px;
    height: 327px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}